# --------------------------
# Django / Python Rules
# --------------------------

# Python bytecode
*.pyc
__pycache__/

# Virtual Environment
.venv/
venv/
env/

# Env files
.env
.env.*

# Database
db.sqlite3

# Static / Media
static/
staticfiles/
media/

# Tools
*.egg-info/
.tox/
.coverage
coverage.xml

# IDE
.vscode/
.idea/
*.swp
